<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h1>Meetups</h1>
  </div>
</div>
<div class="row">
  <% all_meetups.each do |meetup| %>
    <div class="small-12 medium-6 large-4 columns">
      <div class="meetup-block">
        <h5><%= meetup.name %></h5>
        <p><%= meetup.description %></p>
        <p>Members Joined: <%= meetup.users.length %></p>
      </div>
    </div>
  <% end %>
</div>
