<h1>Start a new Meetup</h1>
<form action="/meetup/create" method="POST">
  <div class="row">
    <div class="small-6 medium-6 large-6 columns">
      <label>Name your meetup
        <input type="text" placeholder="your meetup name">
      </label>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <label>Where is it located?
        <input type="text" placeholder="location">
      </label>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <label>When will it start?
        <input type="text" placeholder="date and time">
      </label>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <label>When will it end?
        <input type="text" placeholder="date and time">
      </label>
    </div>
    <div class="small-12 medium-12 large-12 columns">
      <label>What will you be doing?
        <input type="text" placeholder="description">
      </label>
    </div>
    <div>
        <input class="button" type="submit" value="Create Meetup">
    </div>
  </div>
</form>
