body {
  background-image: url('/images/stardust.png');
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}
h1, h5, h4, p, span, a, a:visited,
.meetup-link:hover,
.meetup-block a,
.meetup-block a:visited,
.meetup-block a:hover,
.top-bar-section,
label,
.flash {
  color: #FFF;
}

h1 {
  position: relative;
  margin-top: 1em;
  font-family: 'Timmana', sans-serif;
  text-align: center;
}

a, a:visited {

  line-height: 0;
  text-decoration: none;
}

p{
  font-size: 1.5rem;
}

button.button, button.button:focus {
  background: #86858b;
  outline: none;
  border-radius: 5px;
}

button.button:hover {
  background: #000;
}

.meetup-link {
  position: relative;
  display: block;
  background: #000;
  -moz-opacity: 0.6;
  opacity: 0.6;
  border-radius: 20px;
  border: 2px solid #FFF;
  min-width: 300px;
  min-height: 250px;
  text-align: center;
  margin: 5px;
  padding: 15px;
}

.meetup-link:hover {
  background-color: #7F7A74;
  -moz-opacity: 0.6;
  opacity: 0.6;
  text-decoration: none;
}

.meetup-link p {
  position: absolute;
  bottom: 0;
  left: 1em;
}

.meetup-details {
  text-align: center;
}

div.meetup-block a,
div.meetup-block a:visited,
div.meetup-block a:hover {
  text-decoration: none;
}

div.columns {
  position: relative;
}

div.columns p label {
  line-height: 6.5rem;
}

#new-meetup-link {
  padding: 6px;
  border-radius: 5px;
  background: white;
  color: #444349;
}

#new-meetup-link.hidden {
  display: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  font-size: 1.5rem;
  height: auto;
  background-color: #3C3C3C;
}
.top-bar ul {
  background-color: inherit;
  margin: auto;
  padding: 5px;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: inherit;
  overflow: hidden;
  width: 100%;
  height: 50px;
  font-size: 1.75rem;
  text-align: center;
  position: absolute;
  top: inherit;
  background-color: #3B9089;
}

label {
  font-size: 1.5rem;
}

span.form-error {
  margin-top: -1.3rem;
  position: absolute;
  font-size: 1rem;
}

#date-time-form span{
  margin-top: -0.3rem;
}

#date-time-form span:nth-child(odd){
  margin-top: 0.7rem;
}

label {
  display: inline;
}

input, textarea {
  border-radius: 5px !important;
}

#date-time-form input{
  margin: 0.2rem -0.5px;
  width: auto;
}

table.table-condensed {
  position: relative;
  width: auto;
  line-height: 0;
  border: 2px solid #FFF;
  border-radius: 10px;
  background: #FFF;

}

div.datepicker {
  position: absolute;
}

.alert p {
  color: red;
}
#meetupDesc {
  font-size: 1.5rem;
}

#charNum {
  text-align: right;
  line-height: 0;
  text-transform: uppercase;
  font-weight: bold;
}
