<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meetups</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Timmana" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/jquery.timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/foundation.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/datepair.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/jquery.datepair.min.js"></script>
  </head>
  <body>

    <div class="top-bar">
      <div class="container">
        <a class="logo" href="/">Meetups in Space</a>

        <ul class="top-bar-section">
          <% if current_user %>
            <% if request.path_info === '/meetups' %>
              <li><a id="new-meetup-link" href="/meetup/create">Create Meetup</a></li>
            <% end %>
            <li>Signed in as <%= current_user.name %></a></li>
            <li><a href="/sign_out">Sign Out</a></li>
          <% else %>
            <li><a href="/auth/github">Sign In</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
          <a href='?' id='flash-close'>&#10005</a>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
